In [1]:
import pandas as pd
import numpy as np

In [28]:
data = {'EmpName': ['Shen Lee', 'Leon Buhle', 'Tracy Adams', 'Lebo Sinuka', 'Lauren Proice', 'Monika Bomd', 'Natasha Allsop',
                   'Nocholas Winter', 'Christopher Ericson', 'Siobhan Malley'],
        'WorkUnits': ['1', '0.5', '0.8', '1.5', '1.2', '2', '0.3', '1.1', '2.2', '1.5'],
        'SickLeave': ['0', '2', '0', '1', '3', '0', '1', '0', '2', '5'],
        'Annual': ['0', '0', '5', '4', '2', '5', '10', '8', '10', '0'],
        'Personnel': ['0', '1', '0', '5', '0', '3', '0', '1', '3', '0'],
        'TotalLeave': ['38', '35', '35', '38', '38', '38', '35', '38', '38', '38'],
        'LeaveTaken': ['0', '3', '5', '10', '5', '8', '11', '9', '15', '5'],
        'RemainingLeave': ['38', '32', '30', '29', '33', '30', '24', '29', '23', '33']}
row_labels = ['215', '216', '217', '218', '219', '220', '221', '222', '223', '224']
leave_cycle = pd.DataFrame(data, columns = ['EmpName', 'WorkUnits', 'SickLeave', 'Annual', 'Personnel', 'TotalLeave', 'LeaveTaken', 'RemainingLeave'], 
                           index = row_labels)
leave_cycle.index.name = 'Personnel_ID'
leave_cycle

,EmpName,WorkUnits,SickLeave,Annual,Personnel,TotalLeave,LeaveTaken,RemainingLeave
Personnel_ID,,,,,,,,
215,Shen Lee,1,0,0,0,38,0,38
216,Leon Buhle,0.5,2,0,1,35,3,32
217,Tracy Adams,0.8,0,5,0,35,5,30
218,Lebo Sinuka,1.5,1,4,5,38,10,29
219,Lauren Proice,1.2,3,2,0,38,5,33
220,Monika Bomd,2,0,5,3,38,8,30
221,Natasha Allsop,0.3,1,10,0,35,11,24
222,Nocholas Winter,1.1,0,8,1,38,9,29
223,Christopher Ericson,2.2,2,10,3,38,15,23
224,Siobhan Malley,1.5,5,0,0,38,5,33